<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noter">

    <application
        android:name=".NoterApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_local_library_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_local_library_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".ui.EmptyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.auth.AuthActivity">
        </activity>
        <activity android:name=".ui.main.MainActivity"></activity>
    </application>

</manifest>